<div class="slim-footer mg-t-0">
    <div class="container-fluid">
        <p>Copyright {{ "now"|date("Y") }}  &copy; Tous droits réservés. Boutique TAYBA MARKET</p>
        <p>Développé par: <a href="https://digitalexpertstg.com">Digital Experts TG</a></p>
    </div><!-- container-fluid -->
</div><!-- slim-footer -->
