<div class="slim-sidebar">
    <label class="sidebar-label">Navigation</label>

    <ul class="nav nav-sidebar">
        <li class="sidebar-nav-item">
            <a href="{{ path('dashboard') }}" class="sidebar-nav-link active"><i class="icon ion-ios-home-outline"></i> Tableau de bord</a>
        </li>
        <li class="sidebar-nav-item">
            <a href="#" class="sidebar-nav-link"><i class="icon ion-ios-chatboxes-outline"></i> Commandes</a>
        </li>
        <li class="sidebar-nav-item">
            <a href="" class="sidebar-nav-link"><i class="icon ion-ios-filing-outline"></i> Ventes</a>
        </li>
        <li class="sidebar-nav-item ">
            <a href="" class="sidebar-nav-link"><i class="icon ion-ios-book-outline"></i> Entrées de Stock</a>
        </li>
        <li class="sidebar-nav-item ">
            <a href="" class="sidebar-nav-link"><i class="icon ion-ios-analytics-outline"></i> Sorties de Stock</a>
        </li>
        <li class="sidebar-nav-item">
            <a href="" class="sidebar-nav-link"><i class="icon ion-ios-filing-outline"></i> Rapports</a>
        </li>

        <li class="sidebar-nav-item">
            <a href="" class="sidebar-nav-link"><i class="icon ion-ios-location-outline"></i> Catégories</a>
        </li>
        <li class="sidebar-nav-item">
            <a href="" class="sidebar-nav-link"><i class="icon ion-ios-location-outline"></i> Fournisseurs</a>
        </li>
        <li class="sidebar-nav-item ">
            <a href="" class="sidebar-nav-link"><i class="icon ion-ios-analytics-outline"></i> Produits</a>
        </li>

        <li class="sidebar-nav-item">
            <a href="" class="sidebar-nav-link"><i class="icon ion-ios-gear-outline"></i> Utilisateurs</a>
        </li>
        <li class="sidebar-nav-item">
            <a href="#" class="sidebar-nav-link"><i class="icon ion-ios-lightbulb-outline"></i> Paramètres</a>
        </li>
    </ul>
</div><!-- slim-sidebar -->
