{% extends 'base.html.twig' %}

{% block title %}Les dépenses{% endblock %}

{% block body %}
    <div class="slim-pageheader">
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">Tableau de bord</a></li>
            <li class="breadcrumb-item"><a href="{{ path('category') }}">Les Dépenses</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ajouter une dépense</li>
        </ol>
        <h6 class="slim-pagetitle">Nouvelle Dépense</h6>
    </div><!-- slim-pageheader -->
    <div class="section-wrapper">
        <div class="form-layout">
            {{ include('expense/_form.html.twig') }}
        </div><!-- form-layout -->
    </div><!-- section-wrapper -->
{% endblock %}
