{% extends 'base.html.twig' %}

{% block title %}Les dépenses{% endblock %}

{% block body %}
    <div class="slim-pageheader">
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Tableau de bord</a></li>
            <li class="breadcrumb-item"><a href="#">Les Dépenses</a></li>
            <li class="breadcrumb-item active" aria-current="page">Fiche d'une dépense</li>
        </ol>
        <h6 class="slim-pagetitle">Fiche d'une dépense</h6>
    </div><!-- slim-pageheader -->
    <div class="section-wrapper">
        <div class="form-layout">

        </div><!-- form-layout -->
    </div><!-- section-wrapper -->
{% endblock %}
