{% extends 'base.html.twig' %}

{% block title %}Les Produits{% endblock %}

{% block body %}
    <div class="slim-pageheader">
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Tableau de bord</a></li>
            <li class="breadcrumb-item"><a href="#">Les Produits</a></li>
            <li class="breadcrumb-item active" aria-current="page">Fiche d'un Produit</li>
        </ol>
        <h6 class="slim-pagetitle">Fiche du produit : {{ product.fullName }}</h6>
    </div><!-- slim-pageheader -->
    <div class="section-wrapper">
        <div class="form-layout">
            {{ dump(product) }}
        </div><!-- form-layout -->
    </div><!-- section-wrapper -->
{% endblock %}
